body {
    margin: 0px;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 100%;
    height: 381px;
    background-color: #422755;
    margin: 0 0 57px 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

#title {
    font-size: 36px;
    font-family: "Open Sans";
    font-weight: 800;
    color: #FFFFFF;
    line-height: 49px;
    margin: 0 auto;
}

#text-header {
    font-family: "Open Sans";
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    line-height: 25px;
    margin-top: 28px;
}

#div-description-mobile {
    display: none;
}

#div-search-organization {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #FEAF3D;
    width: 1081px;
    height: 85px;
    margin: 0 auto 69px auto;
    border-radius: 8px;
}

#div-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 276;
    height: 34px;
    border-radius: 8px;
    color:#757575;
    font-family: "Open Sans";
    font-size: 12px;
    margin: auto 197px auto 100px;
}


#div-organization {
    display: flex;
    font-family: "Open Sans";
    color: #FFFFFF;
    font-size: 14px;
    align-items: center;
    line-height: 19px;
}

#button-search {
    margin: 0px;
    background-color: #6E4B87;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    border-radius: 8px;
    width: 69px;
    height: 36px;
    cursor: pointer;
    margin: 0 0 0 -56px;
    left: 15px;
}

#input-search {
    border: 0px; 
    border-radius: 8px 0px 0px 8px;
    color:#FFFFFF;
    font-family: "Open Sans";
    width: 276px;
    height: 34px;
}

input::-webkit-input-placeholder{
    color:#757575;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    left: 15px;
}

input::-ms-input-placeholder{
    color:#757575;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    left: 15px;
}

input::-moz-placeholder{
    color:#757575;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    left: 15px;
}

#select-search {
    height: 34px;
    width: 193px;
    border-radius: 8px;
    border: 0;
    margin-left: 10px;
    font-family: "Open Sans";
    font-size: 14px;
    padding-left: 20px;
    background: url(../img/seta.png) no-repeat #FFFFFF;
    background-position: 165px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


#container-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 1081px;
    height: 760px;
    background-color: #FFFFFF;
    margin: 0 auto 0 auto;
}

.div-float-deadline{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    background-color: #422755;
    width: 102px;
    height: 29px;
    position: absolute;
    margin-left: 10px ;
    margin-top: 21px;
    border-radius: 0px 5px 5px 0px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: bold;
}

#div-float-late {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    background-color: #F04837;
    width: 102px;
    height: 29px;
    position: absolute;
    margin-left: 10px;
    margin-top: 21px;
    border-radius: 0px 5px 5px 0px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: bold;
}

.task-deadline {
    width: 253px;
    height: 360px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #000000;
    cursor: pointer;
}

.task {
    display: flex;
    flex-direction: column;
    width: 253px;
    height: 360px;
    margin-top: 0;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #000000;
    cursor: pointer;
}

.task2 {
    width: 253px;
    height: 360px;
    margin-top: 35px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #000000;
    cursor: pointer;
}

.task3 {
    display: flex;
    flex-direction: column;
    width: 253px;
    height: 466px;
    margin-top: 0;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #000000;
    cursor: pointer;
    margin-top: 35px;
}

#task-buttons {
    width: 253px;
    height: 466px;
    margin-top: 35px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #000000;
    cursor: pointer;
}

.div-image {
    display: flex;
    background-color: #676767;
    width: 218px;
    height: 183px;
    align-items: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.div-image-mobile {
    display: none;
    width: 156px;
    height: 189px;
    align-items: center;
    margin: auto 10px;
}

#image-task {
    width: 218px;
    height: 183px;
}

.task-name {
    display: flex;
    height: 19px;
    width: 218px;
    margin: 4px auto;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: bold;
    color: #414141;
}

.task-name-clock {
    display: flex;
}

.task-description {
    color: #000000;
    font-size: 12px;
    margin-left: 17px;
    height: 48px;
    width: 218px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.div-deadline {
    color: #000000;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 16,34px;
    margin: 10px 0 0 17px;
    width: 218px;
}

.deadline-time {
    width: 218px;
    height: 25px;
    margin: auto;
    font-family: "Open Sans";
    color: #f04837;
    line-height: 16px;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 700;
}

.inclusion-date {
    display: inline;
    color: #414141;
    font-family: "Open Sans";
    margin: 10px 0 20px 17px;
    font-family: "Open Sans";
    font-size: 10px;
    height: 14px;
    width: 148px;
    line-height: 14px;
}

.button-conclude {
    display: flex;
    width: 218px;
    height: 40px;
    background-color: #422755;
    border-radius: 8px;
    margin: 8px auto 0 auto;
    cursor: pointer;
}

.button-conclude-text {
    font-family: "Open Sans";
    font-size: 16px;
    color: #FFFFFF;
    margin: auto;
}

.button-conclude-mobile {
    display: none;
}

.button-change-deadline {
    display: flex;
    width: 218px;
    height: 40px;
    background-color: #F04837;
    border-radius: 8px;
    margin: 8px auto 15px;
    cursor: pointer;
}

.button-change-deadline-text {
    font-family: "Open Sans";
    font-size: 16px;
    color: #FFFFFF;
    margin: auto;
}

.clock-img {
    width: 20px;
    float: left;
    margin-right: 10px;
}

.clock-orange {
    display: none;
    margin: auto 10px 0 30px;
}

/* SEE MORE */

#button-see-more {
    display: flex;
    width: 197px;
    height: 38px;
    background-color: #6E4B87;
    border-radius: 8px;
    margin: 45px auto 0 auto;
    cursor: pointer;
}

.button-see-more-text {
    font-family: "Open Sans";
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* REGISTRATION */

.question {
    grid-area: question;
}

.name {
    grid-area: name;
}

.email {
    grid-area: email;
}

.button-register {
    grid-area: button-register;
}

.container-question {
    display: grid;
    grid-template-columns: 369px 369px 100px;
    grid-template-rows: 50px;
    grid-template-areas: 
        "question question question"
        "name email button-register";
    background-color: #E5E5E5;
    border-radius: 8px;
    width: 876px;
    height: 122px;
    margin: 138px auto 90px auto;
}

.div-registration-question {
    color: #6E4B87;
    height: 19px;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    margin: 25px 0 0 30px;
}

.div-registration-name {
    color: #757575;
    width: 438px;
    font-size: 12px;
    font-family: "Open Sans";
    margin: 0px 100px 10px 15px;

}

.div-registration-email {
    color: #757575;
    height: 77px;
    font-size: 12px;
    font-family: "Open Sans";
}

.input-registration-name {
    border: 0;
    border-radius: 8px;
    width: 335px;
    width: 335px;
    height: 34px;
    margin: 0 15px
}

.input-registration-email {
    border: 0;
    border-radius: 8px;
    width: 348px;
    height: 34px;
    margin: 0 15px
}

.registration-name {
    margin: 0px 0px 0px 15px;
}

.registration-email {
    margin: 0px 0px 0px 15px;
}

#button-register {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    width: 100px;
    height: 34px;
    background-color: #6E4B87;
    border: 0;
    color: #FFFFFF;
    border-radius: 8px;
    margin: 18px 0 0 5px;
    cursor: pointer;
}

#container-linx-apresentation {
    display: flex;
    margin: 0 auto 70px auto;
    background-color: #FFFFFF;
    width: 1081px;
    height: 190px;
    align-items: center;
}

#div-linx-image {
    width: 234px;
    height: 137px;
    margin-right: 50px;
}

#linx-image {
    width: 234px;
    height: 137px;
}

#div-linx-text {
    width: 699px;
    height: 190px;
}

.linx-text {
    font-family: "Open Sans";
    font-size: 14px;
    margin: 20px 0;
}

footer {
    display: flex;
    background-color: #422755;
    height: 126px;
    justify-content: center;
}

#div-footer-text {
    width: 253px;
    height: 48px;
    margin: auto;
}

.footer-text {
    margin: 0px;
    font-family: "Open Sans";
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;  
}